<%= form_for(@destination) do |f| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :dest_type %><br>
    <%= f.text_field :dest_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :characteristics %><br>
    <%= f.text_area :characteristics %>
  </div>
  <div class="field">
    <%= f.label :travel_cost %><br>
    <%= f.number_field :travel_cost %>
  </div>
  <div class="field">
    <%= f.label :dest_cost %><br>
    <%= f.number_field :dest_cost %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :dest_url %><br>
    <%= f.text_field :dest_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
