<!-- <div id="dest"> -->
<p id="notice"><%= notice %></p>

<h1>Daycation Spots</h1>

<div class="container">
  <div class="row">
    <table>
      <tbody>
        <% @destinations.each do |destination| %>
          <tr>
            <td><%= link_to destination.name, destination %></td>
            <td><%= destination.image %></td>
            <td><%= destination.dest_cost + destination.travel_cost %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Daycation', new_destination_path %>

<!-- </div> -->
