<!-- <div id="dest"> -->
<p id="notice"><%= notice %></p>

<h1>Search Daycations</h1>

<!-- search field -->
<%= search_form_for @search do |f| %>

<div class ="field">
 <%= f.label :name_cont, "Name Contains" %>
 <%= f.text_field :name_cont %>
</div>
<br>
<div class="field">
   <%= f.label :travel_cost_lteq %>
   <%= f.text_field :travel_cost_lteq  %>
 </div>
 <br>
<div class="field">
 <%= f.label :dest_cost_lteq %>
 <%= f.text_field :dest_cost_lteq %>
</div>


<div class="actions">
 <%= f.submit "Search", class: "btn btn-primary" %>
</div>
<% end %>

<!-- destinations -->
<div class="container">
  <div class="row">
        <% @destinations.each do |destination| %>
            <%= link_to destination.name, destination %>
            <%= link_to image_tag("#{destination.name}.jpg"), destination %>
            <%= destination.dest_cost + destination.travel_cost %>
        <% end %>
  </div>
</div>

<br>

<%= link_to 'New Daycation', new_destination_path %>

<!-- </div> -->
