<!-- <p id="notice"><%= notice %></p> -->

<style>
body {
  background: url(<%= @destination.image %>);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
</style>

<div class="container">
  <h1><%= link_to @destination.name, @destination.dest_url, target: "_blank", style: "color: white;" %></h1>

  <p>
    <strong><%= @destination.description %></strong>
  </p>

  <p>
    <strong>Cost:</strong>
    $<%= @destination.travel_cost + @destination.dest_cost %>
  </p>
</div>

<div class="container-fluid" id="map">
  <%= javascript_tag do %>
    latitude = '<%= j @destination.latitude.to_s %>';
    longitude = '<%= j @destination.longitude.to_s %>';
    address = '<%= j @destination.address %>';
    description = '<%= j @destination.description %>';
    latitude1 = '<%= j @welcome.latitude.to_s %>';
    longitude1 = '<%= j @welcome.longitude.to_s %>';
    address1 = '<%= j @welcome.address %>';
  <% end %>
</div>

<div class="container">
    <div class="col-xs-12 col-sm-3">
      <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/d9/00/00/d9000001d731857f0156058d0002a007.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> -->
      <br>
      <br>
      <h4><strong>Try Again?</strong></h4>
      <%= bootstrap_form_tag do |f| %>
        <%= link_to "Random", "/#{@randest_id}", class: "btn btn-warning btn-lg btn-block"  %>
      <% end %>
    </div>   
</div>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'All Daycations', destinations_path %>